.settings-box {
  border: 2px solid #000000;
  background-color: #d4dbab;
  width: 50%;
  margin-top: 2%;
  margin-right: 2%;
  font-size: 11px;
  flex-direction: column;
  
  .settings-title {
    font-weight: 900;
  }

  span {
    font-weight: 600;
  }
}