.Resizer {
  background: #e7e7e7;

  &.horizontal {
    height: 8px;
  }
  &.vertical {
    width: 8px;
  } 
} 

.button-wrapper {
  background: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
}